@import '../../styles/colors.scss';

.container {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  gap: 1rem;

  & .description_container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    @media (max-width: 375px) {
      width: 100%;
    }
  }

  & .photo_wrapper {
    max-width: 40%;
    height: 100%;

    & .avatar {
      width: 100%;
      border-radius: 20px;
    }
  }
}

.lessonType {
  &[lesson-type='Лекция'] {
    color: green;
    text-shadow: 0.5px 0px 0px $color--text-dark;
  }
  &[lesson-type='Практика'] {
    color: rgb(226, 226, 0);
    text-shadow: 0.5px 0px 0px $color--text-dark;
  }
  &[lesson-type='Лаба'] {
    color: red;
    text-shadow: 0.5px 0px 0px $color--text-dark;
  }
}
