@import '../../styles/colors.scss';

.wrapper {
  width: 100%;
  overflow: hidden;
  background-color: $color--white;
}

.container {
  width: 100%;
  padding: 0 40px;
  margin: 20px 0;

  @media (max-width: 1024px) {
    padding: 0 20px;
  }

  @media (max-width: 768px) {
    padding: 0 10px;
  }
}

.button {
  border-radius: 8px;
}

.flex_container {
  margin: 0 0 15px;
}
