.container {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  gap: 1rem;

  & .description_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
  }
}

.icon {
  transition: all 0.3s ease-in-out;
  width: 20px;
  font-size: 20px;
  height: 20px;

  &:hover {
    transform: scale(1.15);
  }
}
