.wrapper {
  width: 100%;
  overflow: hidden;
  background-color: #fff;
}

header {
  position: sticky;
  top: 0;
  background-color: #eaf0ff;
  z-index: 100;
  overflow: hidden;
  width: 100%;
}

.container {
  width: 100%;
}

.card_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  width: 100%;

  & > div {
    width: 100%;
  }
}
