@import '../../styles/colors.scss';

.wrapper {
  width: 100%;
  overflow: hidden;
}

.container {
  width: 100%;
  padding: 0 10px;
  margin: 20px 0;
}

.title {
  text-align: center;
}

.card_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  width: 100%;

  & > div {
    width: 100%;
  }
}

.status {
  display: block;
  width: 2px;
  height: 125px;
  &[lesson-type='Лекция'] {
    background-color: green;
  }
  &[lesson-type='Практика'] {
    background-color: yellow;
  }
  &[lesson-type='Лаба'] {
    background-color: red;
  }
}

.list_description {
  display: flex;
  flex-direction: column;
}
