.wrapper {
  width: 100%;
  overflow: hidden;
  background-color: #fff;
}

.container {
  width: 100%;
  padding: 0 10px;
  margin: 20px 0;
}

.title {
  font-size: 24px;
  text-align: center;
  color: #1f1f1f;
}

.card_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  width: 100%;

  & > div {
    width: 100%;
  }
}
