.container {
  padding: 15px 20px;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 200px) {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}
