.container {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  gap: 1rem;

  & .description_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
  }
}
