.list_item {
  cursor: pointer;
}

.status {
  display: block;
  width: 2px;
  height: 80px;
  &[lesson-type='Лекция'] {
    background-color: green;
  }
  &[lesson-type='Практика'] {
    background-color: yellow;
  }
  &[lesson-type='Лаба'] {
    background-color: red;
  }
}

.list_description {
  display: flex;
  flex-direction: column;
}
