.list_item {
  cursor: pointer;
}

.status {
  display: block;
  width: 2px;
  height: 80px;
  &[lesson-type='Лекция'] {
    background-color: green;
  }
  &[lesson-type='Практика'] {
    background-color: yellow;
  }
  &[lesson-type='Лаба'] {
    background-color: red;
  }
}

.icon {
  transition: all 0.3s ease-in-out;
  width: 20px;
  font-size: 20px;
  height: 20px;

  &:hover {
    transform: scale(1.15);
  }
}

.button {
  font-size: 1.5rem;
  border-radius: 16px;
  height: 4rem;
}
