.editIcon,
.binIcon {
  transition: all 0.3s ease-in-out;
  width: 20px;
  font-size: 20px;
  height: 20px;
  cursor: pointer;

  &:hover {
    transform: scale(1.15);
  }
}

.icon_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  width: 100%;
}

.search_input {
  margin: 0 0 15px;
}
